*Zone.Identifier
__pycache__/
*.py[cod]

.venv/
*.egg-info/
.idea
manifest/
src/sparkle/logs/
logs/
/dataset/local_10/
docs/
evaluation/
data/
datavol-finetune/
results/
checkpoints/
src/checkpoints/
*. pth
*. pdb
dataset/
results/
*. pcap